html {
  font-family: "Cabin";
  font-size: 18px;
}

a {
  color: #F4FFFD;
  text-decoration: none;
}

a:hover {
  color: #8CD7D8;
}

strong {
  color: #DB5461;
  font-family: "Lora";
}

header {
  align-items: flex-start;
  background-image: url('images/basecamp.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

header nav {
  background-color: rgba(70, 83, 98, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

header nav span {
  padding: 2rem 0.5rem;
}

.headline {
  background-color: rgba(70, 83, 98, 0.4);
  margin: 2rem;
  padding: 1rem 3rem;
  text-align: center;
}

.headline h1 {
  color: #F4FFFD;
  font-family: "Lora";
  font-size: 10rem;
  margin: 0 auto;
}

.headline h2 {
  color: #F4FFFD;
  font-size: 2rem;
  margin: 0 auto 0.5rem auto;
}

.headline h4 {
  color: #F4FFFD;
  font-size: 1.25rem;
  margin: 0 auto;
}
